# Files that are produced by R and RStudio are not tracked
.Rproj.user
.Rhistory
.RData
.Ruserdata

# knitr and R markdown default cache and files directories are not tracked
*_cache
*_files

# The output file is not tracked
progressive_metal_spotify.html
